<div class="row">
  <div class="col-xs-12 col-md-6 col-md-offset-3">
    <div class="alert alert-danger" *ngIf="error">
      <p>{{ error }}</p>
    </div>
    <div *ngIf="isLoading" style="text-align: center">
      <app-loading-spinner></app-loading-spinner>
    </div>
    <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
      <div class="form-group">
        <label for="email">Email</label>
        <input id="email"
               type="text"
               name="email"
               class="form-control"
               ngModel
               required
               email>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input id="password"
               type="password"
               name="password"
               class="form-control"
               ngModel
               required
               minlength="6">
      </div>
      <div>
        <button class="btn btn-primary"
                type="submit"
                [disabled]="!authForm.valid">
          {{ isLoginMode ? 'Login' : 'Sign Up' }}
        </button> |
        <button class="btn btn-primary"
                type="button"
                (click)="onSwitchMode()">
          Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}</button>
      </div>
    </form>
  </div>
</div>
