<div class="row">
  <div class="col-xs-12">
    <button class="btn btn-success"
            routerLink="new">New Recipe
    </button>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    <app-recipe-item
      *ngFor="let recipeElement of recipes; let index = index;"
                     [recipe]="recipeElement"
                      [index]="index+1">
    </app-recipe-item>
  </div>
</div>
