<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="editRecipeForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button class="btn btn-success"
                  [disabled]="!editRecipeForm.valid"
                  type="submit">
            Save
          </button>
          <button class="btn btn-danger"
                  (click)="cancelEditing()"
                  type="button">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                   id="name"
                   formControlName="name"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="imageURL">Image URL</label>
            <input type="text"
                   id="imageURL"
                   formControlName="imagePath"
                   class="form-control">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <img src="{{ recipe.imagePath }}"
                 class="img-responsive"/>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="description">Description</label>
            <textarea type="text"
                      id="description"
                      formControlName="description"
                      class="form-control"
                      rows="6"></textarea>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12"
             formArrayName="ingredients">
          <div class="row"
               *ngFor="let ingredientControl of ingredientControls; let i=index;"
               [formGroupName]="i"
               style="margin-top: 10px;">
            <div class="col-xs-8">
              <input type="text"
                     id="ingredientName"
                     formControlName="name"
                     class="form-control">
            </div>
            <div class="col-xs-2">
              <input type="number"
                     id="ingredientAmount"
                     formControlName="amount"
                     class="form-control">
            </div>
            <div class="col-xs-2">
              <button type="button"
                      id="deleteIngredient"
                      (click)="onDeleteIngredient(i)"
                      class="btn btn-danger">
                X
              </button>
            </div>
          </div>
          <hr>
          <div class="row">
            <div class="col-xs-12">
              <button class="btn btn-success"
                      type="button"
                      (click)="onAddIngredient()">
                Add Ingredient
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
