<div class="row">
  <div class="col-xs-12">
    <img src="{{ recipeData.imagePath }}"
         [alt]="recipeData.name"
         style="max-height: 300px;"
         class="img-responsive">
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <h1>{{ recipeData.name }}</h1>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <div class="btn-group" appDropdown>
      <button class="btn btn-primary dropdown-toggle"
        (click)="openDropdown=!openDropdown">
        Manage Recipe <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" style="cursor: pointer">
        <li>
          <a (click)="addIngredientsToShoppingList(recipeData.ingredients)">
          Add Ingredients to Shopping List
          </a>
        </li>
        <li>
          <a routerLink="edit">Edit Recipe</a>
        </li>
        <li><a (click)="deleteRecipe(recipeId)">Delete Recipe</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    Description: {{ recipeData.description }}
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
    <ul class="list-group">
      <li class="list-group-item"
      *ngFor="let ingredient of recipeData.ingredients">
        {{ ingredient.name }} -> {{ ingredient.amount }}
      </li>
    </ul>
  </div>
</div>
